@model CaroneiroWeb.Models.Users
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-color:white;">
    <div class="overlay">
        <div class="wrapper row0">
            <div id="topbar" class="clear">
                <!-- ################################################################################################ -->
                <div class="fl_right">
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <div class="wrapper row1">
            <header id="header" class="clear">
                <!-- ################################################################################################ -->
                <div id="logo" class="fl_left">
                    <h1>@Html.ActionLink("Caroneiro", "Index", "Home")</h1>
                </div>
                <!-- ################################################################################################ -->
            </header>
        </div>
        <div class="container">
            <center>
                <h2 style="color:white">Termos de uso</h2>
                <br />
                <p style="color:white; text-align:left" >
                    Ao concordar com o serviço descrito a seguir, você estará aceitando, sem reservas ou ressalvas, todos os itens deste termo de uso.
                    <br />
                    1. DO CARONEIRO
                    <br />
                    1.1 O conteúdo desta aplicação, disponibiliza para Pessoas Físicas maiores de 16 anos, serviços de busca e oferta de carona, hospedagem e companhia. 
                    <br />
                    2. DAS RESPONSABILIDADES DO SISTEMA
                    <br />
                    2.1 É responsabilidade do Caroneiro, manter o serviço acessível 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana, salvo no encerramento das atividades do Caroneiro, ou na efetuação de atualização do sistema ou do(s) servidor(es), ou ocorrência de problemas técnicos, ou de responsabilidade de terceiros, tais como de empresa fornecedora de energia elétrica ou de empresa prestadora de serviços de comunicação, ou ainda, na ocorrência de caso fortuito ou força maior, sendo que não poderá ser responsabilizado.
                    <br />
                    2.2 O Caroneiro não se responsabiliza pela veracidade das informações prestadas por seus usuários ou cadastrados. O fornecimento de falsa informação configura crime de falsidade ideológica, tipificado no art. 299 do Código Penal, cuja pena está estabelecida entre um a três anos de reclusão, acrescida de multa.
                    <br />
                    2.3 O Caroneiro não se responsabiliza por danos, diretos ou indiretos, resultantes do uso dos serviços do sistema. Além disso, isenta-se de toda responsabilidade, na mais ampla extensão da lei, independentemente da forma de ação, por atos ou omissões de seus usuários.
                    <br />
                    2.4 O Caroneiro tem o direito de retirar ou editar todo o conteúdo divulgado no sistema.
                    <br />
                    3. DAS RESPONSABILIDADES DOS USUÁRIOS
                    <br />
                    3.1 O usuário concorda com a divulgação dos seus dados do perfil a outros participantes do sistema.
                    <br />
                    3.2 O usuário será exclusivamente responsável pelas informações postadas no sistema, inclusive por fotografias adicionadas.
                    <br />
                    3.3 O usuário não poderá:
                    <br />
                    - Transmitir ou divulgar imagem pornográfica, imagem com roupa íntima ou semelhante, material ilegal, difamatório, que viole a privacidade de terceiros, ameaçador, prejudicial, injurioso ou atos e informações que possam ser considerados discriminatórios em relação a qualquer raça, cor, credo ou nacionalidade ou opção sexual;
                    <br />
                    - Utilizar informações pessoais de terceiros, ou o direito à imagem dos assinantes para outros fins;
                    <br />
                    - Tentar violar sistemas de segurança de informação do Caroneiro.
                    <br />
                    - Enviar mensagens em massa, mensagens com conteúdo repetido ou fazer qualquer tipo de spam aos usuários.
                    <br />
                    - Divulgar ou fazer propaganda de sites, empresas, serviços, produtos ou propaganda política.
                    <br />
                    - Transmitir imagem ou texto que não se adequem ao conteúdo do sistema.
                    <br />
                    4. DAS CONDIÇÕES GERAIS DO SERVIÇO
                    <br />
                    4.1 O Caroneiro disponibiliza serviço de cadastramento de perfil e recursos que possibilitam a interação virtual entre os cadastrados.
                    <br />
                    4.2 O Caroneiro não exerce nem aceita discriminação de qualquer espécie em relação a preferências ou opções sexuais dos usuários, nem tampouco à sua raça, credo ou idade.
                    <br />
                    4.3 É vedado, conforme legislação em vigor, que menores de 16 anos se cadastrem no sistema.
                    <br />
                    5. CANCELAMENTO
                    <br />
                    5.1 O usuário poderá desativar sua conta a qualquer momento.
                    <br />
                    5.2 Pessoas que fizerem qualquer tipo de conteúdo inadequado através de mensagens (spam) aos outros usuários podem ter seu perfil banido do sistema sem qualquer tipo de aviso prévio.
                    <br />
                    6. POLÍTICA DE PRIVACIDADE E SEGURANÇA
                    <br />
                    6.1 O Caroneiro não irá comercializar, ceder, emprestar, compartilhar suas informações pessoais com terceiros. Somente mediante sua expressa autorização ou através de autorização judicial é que essas informações poderão ser divulgadas à autoridade solicitante.
                    <br />
                    6.2 A utilização da aplicação implica no consentimento do usuário para coleta, armazenamento e uso das informações pessoais fornecidas, cadastrais, de acesso e de opiniões recebidas através de missões realizadas, ou outras formas de interações pela aplicação.
                    <br />
                    6.3 Suas informações pessoais são protegidas por senha.
                    <br />
                    6.4 Você pode acessar sua conta de usuário a qualquer momento usando seu email e sua senha ou login pelo Facebook.
                    <br />
                    7. DISPOSIÇÕES GERAIS
                    <br />
                    7.1 O usuário declara e garante, para os fins de direito:
                    <br />
                    - Que leu e está de pleno acordo com todos os termos deste contrato.
                    <br />
                    - Que não poderá contestar futuramente nenhuma das questões aqui dispostas.
                    <br />

                    7.2 O presente Instrumento revoga e substitui todos a todo e qualquer outro acordo e contrato, escrito ou verbal, e condensa todas as condições estipuladas para a presente contratação.
                    <br />
                </p>
            </center>
        </div> <!-- /container -->
        <br />
        <br />
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row5">
        <div id="copyright" class="clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - Caroneiro
            <p class="fl_right"><a href='@Url.Action("About","Home")'>Sobre - </a><a href='@Url.Action("Contact","Home")'>Contato - </a><a href='@Url.Action("TermsOfUse","Home")'>Termos de Uso</a></p>
            <!-- ################################################################################################ -->
        </div>
    </div>
</div>

