
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div>
    <h3>Configurações</h3>
    <hr />
    @Html.ActionLink("Desativar minha conta", "ConfirmAction", "Settings")<br />
    @Html.ActionLink("Alterar senha", "ConfirmPasswordChange", "Settings")<br />


</div>
